{% block content0 %}<h1>364Games</h1>{% endblock %}
{% block content1 %}
<b>Welcome to 364Games</b> -- Please enter a username to track your review progress.
<form action="{{ url_for('home') }}" method="POST">
	{{ form.hidden_tag() }}
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.submit() }}
</form>
{% endblock %}
{% block content2 %}
<hr><b>NAVIGATION</b><br>
<a href='/search'>Start a new game search</a><br>
<a href='/tags'>Search reviews by tags</a><br>
<a href='/tag_results?tagtext=example'>View the results of a tag search</a><br>
<a href='/new'>Create a new review</a><br>
<a href='/reviews'>View all reviews</a><br>
<a href='/names'>Full list of users</a><br>
<a href='/games'>Your search history for games</a><hr>
{% endblock %}