{% extends 'base.html' %}

{% block content1 %}
Use this form to search the GiantBomb catalog of video games, or click below to see other options.<br>
<form action="{{ url_for('search') }}" method="POST">
	{{ form.hidden_tag() }}
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.platform.label() }}{{ form.platform() }}<br>
    {{ form.sorthow.label() }}{{ form.sorthow() }}<br>
    {{ form.submit() }}
</form>
{% endblock %}
{% block content2 %}
<b>Here are all of the links you'll need:</b><br>
<a href='/names'>Full List of Users</a><br>
<a href='/reviews'>Top game reviews.</a>

{% endblock %}